@import 'styles/variables';

.monaco-editor-wrapper {
  padding: $input-padding-y $input-padding-x;
  transition: $input-transition;

  &:focus-within {
    border-color: $input-focus-border-color !important;
    box-shadow: $input-focus-box-shadow;
  }
}
