@import 'styles/variables';

.monaco-editor-wrapper {
	transition: $input-transition;

	&.p-show {
		padding: $input-padding-y $input-padding-x;
	}

	&:focus-within {
		border-color: $input-focus-border-color !important;
		box-shadow: $input-focus-box-shadow;
	}
}
