@import '~bootstrap/scss/modal';

.modal {
	&-content {
		padding: var(--#{$prefix}modal-padding);
		gap: var(--#{$prefix}modal-padding);
	}

	&-header {
		border-bottom: unset;
		padding: unset;
	}

	&-body {
		padding: unset;
	}

	&-footer {
		border-top: unset;
		padding: unset;
		gap: map-get($spacers, 2);

		& > * {
			margin: unset;

			&:not(.flex-fill) {
				width: 100%;
			}
		}
	}
}
