@import '~bootstrap/scss/offcanvas';

.offcanvas {
	&-header {
		border-bottom: var(--#{$prefix}offcanvas-border-width) solid
			var(--#{$prefix}offcanvas-border-color);
	}

	&-footer {
		display: flex;
		flex-direction: column;
		padding: var(--#{$prefix}offcanvas-padding-y)
			var(--#{$prefix}offcanvas-padding-x);
		border-top: var(--#{$prefix}offcanvas-border-width) solid
			var(--#{$prefix}offcanvas-border-color);

		& > * {
			width: 100%;
		}
	}
}
