@import '~bootstrap/scss/root';

@font-face {
	font-family: InterVariable;
	src:
		url(assets/InterVariable.woff2) format('woff2 supports variations'),
		url(assets/InterVariable.woff2) format('woff2-variations');
	font-weight: 100 1000;
}
