@import '~bootstrap/scss/utilities';

$utilities: map-remove(
  $utilities,
  'float',
  'opacity',
  'focus-ring',
  'subtle-border-color',
  'border-opacity',
  'width',
  'max-width',
  'viewport-width',
  'min-viewport-width',
  'height',
  'max-height',
  'viewport-height',
  'min-viewport-height',
  'order',
  'row-gap',
  'column-gap',
  'font-family',
  'font-style',
  'line-height',
  'text-transform',
  'text-opacity',
  'link-opacity',
  'link-offset',
  'link-underline',
  'link-underline-opacity',
  'bg-opacity',
  'subtle-background-color',
  'user-select',
  'pointer-events',
  'visibility',
  'z-index'
);

$utilities: map-merge(
  $utilities,
  (
    'width': (
      responsive: true,
      property: width,
      class: w,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
    'height': (
      responsive: true,
      property: height,
      class: h,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
  )
);
