@import 'styles/variables';

.react-flow__ {
	&attribution {
		background: none;
		padding: 0 15px;
	}

	&controls {
		box-shadow: none;

		&-button {
			transition: $btn-transition;

			&:last-child {
				border-bottom: 0;
			}

			&:hover {
				background-color: $gray-100;
			}

			&:active {
				background-color: $gray-200;
			}
		}
	}

	&handle {
		width: 12px;
		height: 12px;
		border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
		border-radius: 50%;

		$positions: 'top', 'bottom', 'left', 'right';

		@each $position in $positions {
			&-#{$position} {
				#{$position}: -6px;
			}
		}
	}
}
