@import 'styles/base';

@each $state, $data in $form-validation-states {
  $color: map-get($data, 'color');

  .#{$state}-feedback {
    display: none;
    width: 100%;
    color: $color;
    @include font-size($form-feedback-font-size);
    font-style: $form-feedback-font-style;
    margin-top: $form-feedback-margin-top;
  }

  @include form-validation-state-selector($state) {
    ~ .#{$state}-feedback {
      display: block;
    }
  }
}
