@use 'FormTelegramQuillEditorFeedback.content' as content;
@import 'styles/variables';

.quill {
	.ql-toolbar {
		.ql-formats {
			button {
				$formats: (
					'spoiler': url('assets/icons/incognito.svg'),
				);

				@each $name, $icon in $formats {
					&.ql-#{$name} {
						&::before {
							content: '';
							display: inline-block;
							mask: $icon no-repeat center;
							background-color: currentColor;
							width: 18px;
							height: 18px;
						}

						&:hover,
						&.ql-active {
							color: #3f8cfd;
						}
					}
				}
			}
		}
	}

	.ql-container {
		.ql-editor {
			@include content.styles;
		}
	}
}
