@import 'styles/variables';

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  display: inline-block;
  width: var(--#{$prefix}loading-width);
  height: var(--#{$prefix}loading-height);
  vertical-align: -0.125em;
  border: var(--#{$prefix}loading-border-width) solid currentcolor;
  border-radius: 50%;
  border-right-color: transparent;
  animation: 0.75s linear infinite loading;

  @each $size, $multiplier in $loading-sizes {
    &-#{$size} {
      --#{$prefix}loading-width: #{1 + 0.5 * $multiplier}rem;
      --#{$prefix}loading-height: #{1 + 0.5 * $multiplier}rem;
      --#{$prefix}loading-border-width: #{0.1 + 0.05 * $multiplier}rem;
    }
  }
}
