@import 'styles/base';

@each $state, $data in $form-validation-states {
  $color: map-get($data, 'color');
  $focus-box-shadow: map-get($data, 'focus-box-shadow');

  .form-select {
    @include form-validation-state-selector($state) {
      border-color: $color;

      &:focus {
        border-color: $color;
        box-shadow: $focus-box-shadow;
      }
    }
  }
}
