@use 'TelegramQuillEditor.content' as content;
@import 'styles/variables';

.quill {
	.ql-toolbar {
		.ql-formats {
			button {
				$formats: (
					'spoiler': '\F777',
				);

				@each $name, $icon in $formats {
					&.ql-#{$name} {
						&::before {
							content: $icon;
						}

						&:hover,
						&.ql-active {
							color: #3f8cfd;
						}
					}
				}
			}
		}
	}

	.ql-container {
		.ql-editor {
			@include content.styles;
		}
	}
}
