{% load static %} {% load i18n %}

<!doctype html>
{% get_current_language as LANGUAGE_CODE %}
<html class="h-100" lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{% with title="Constructor Telegram Bots" %} {% trans "Сайт, с помощью которого
		вы можете легко, бесплатно и без каких-либо знаний в программирование, сделать
		своего многофункционального Telegram бота." as description %}
		<title>{{ title }}</title>
		<meta name="description" content="{{ description }}" />

		<meta property="og:type" content="website" />
		<meta property="og:title" content="{{ title }}" />
		<meta property="og:description" content="{{ description }}" />
		<meta property="og:url" content="https://constructor.exg1o.org" />

		<meta name="twitter:title" content="{{ title }}" />
		<meta name="twitter:description" content="{{ description }}" />
		{% endwith %}

		<meta name="robots" content="index, follow" />
		<meta
			name="keywords"
			content="бесплатный, free, конструктор, constructor, telegram, телеграм, bot, бот, bots, ботов"
		/>

		<meta
			name="google-site-verification"
			content="YbS9xa_kQpSf_XVG7tmdkCnX-av6lvsIm9m0E5SGTds"
		/>

		<link rel="icon" href="assets/logo.svg" type="image/svg+xml" />
		<link rel="icon" sizes="16x16" href="assets/favicons/favicon-16x16.png" />
		<link rel="icon" sizes="24x24" href="assets/favicons/favicon-24x24.png" />
		<link rel="icon" sizes="32x32" href="assets/favicons/favicon-32x32.png" />
		<link rel="icon" sizes="48x48" href="assets/favicons/favicon-48x48.png" />
		<link rel="icon" sizes="64x64" href="assets/favicons/favicon-64x64.png" />
		<link rel="icon" sizes="96x96" href="assets/favicons/favicon-96x96.png" />
		<link rel="icon" sizes="128x128" href="assets/favicons/favicon-128x128.png" />
	</head>
	<body class="h-100">
		<div class="vstack h-100" id="root"></div>
	</body>
</html>
